.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form{
    display:inline;
}

.form-full h1{
    text-align: center;
}

.form-full form{
    width: 30%;
    margin: 30px auto;
}

.form-full p{
    text-align: center;
}